* {
    box-sizing: border-box;
}

/*Tags*/
a {
    box-shadow: 1px 2px 2px 1px #6CA5DA; 
    margin: 10px;
    text-decoration: none;
}

img {
    width: 350px;
    height: 280px;
}


/* Class */
.event-container {
    display: flex;
    width: auto;
    height: 420px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.eventInfo {
    color: black;
    text-align: left;
    margin-left: 22px;
}
<<<<<<< HEAD
/* ID */
=======
:root{
    --mainColor: rgb(41, 45, 66);
    --secondColor: rgb(126, 214, 255);
}
*{
    margin: 0;
}
html{
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, white, black);
    color: rgb(244, 240, 240);
    margin-inline: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    margin: 0;
    display: flex ;
    flex-direction: column;    

}
.banner {
    width: 100%; 
    height: 150px; 
    overflow: hidden; 
     
}
.banner-bg{
    width: 100%;
}

nav {
    background-color: var(--secondColor); 
    border-radius: 0 0 10px 10px;
       
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
.navDummy{
    background-color: var(--secondColor);
    width: 300px;
}

nav ul li {
    margin: 0 10px; 
    padding: 10px 15px; 
    border-radius: 5px; 
}

nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute; 
    left: 0;
    right: 0;
    margin-inline: auto;
    margin-block: -4%;     
    width: 350px;    
}
    

.content {
    padding: 20px;
    text-align: center;
}


footer {
    background-color: var(--secondColor); 
    text-align: center; 
    padding: 10px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%;
    margin: 20px 0 0 0; 
    color: black; 
    border-radius: 10px 10px 0 0;
}




