* {
    box-sizing: border-box;
}

/*Tags*/
a {
    box-shadow: 1px 2px 2px 1px #6CA5DA; 
    margin: 10px;
    text-decoration: none;
}

img {
    width: 350px;
    height: 280px;
}


/* Class */
.event-container {
    display: flex;
    width: auto;
    height: 420px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.eventInfo {
    color: black;
    text-align: left;
    margin-left: 22px;
}
/* ID */





