* {
    box-sizing: border-box;
}

.event-container {
    display: flex;
    width: auto;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

a {
    box-shadow: 1px 2px 2px 1px #6CA5DA; 
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
img {
    width: 350px;
    height: 250px;
    padding: 20px;
}
